body{
	overflow: scroll;
	overflow-x: hidden;

	
}
.container{

}

.navbar{
	margin: 0px;
	position: fixed;
	width: 100%;
	top: 0;
	transition: top 0.2s ease-in-out;
}

.home,.bg{
	background-image: url(http://www.mazola.com/img/page-background.png);
	background-size: cover;
	min-height: 100%;
	background-attachment: fixed;
	
}

.jumbotron{
	height: 100%;
	
}

.nav-up{
	top: -52px;
}



